.benefitBox{
    background-color: var(--dark-green);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
}
.benefitBox p{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}
.cta-btn{
    background-color: var(--dark-green);
    color: var(--white);
    padding: 5px 15px;
    margin-left: 15px;
    transition: all 0.5s ease;
    text-decoration: none;
    border-radius: 10px;


}
.eligibility{
    font-size: 25px;
}
.becomeMember a{
text-decoration: none;
color: #000;
display: flex;
gap: 5px;
align-items: center;
justify-content: center;
}
.becomeMember {
    padding: 30px;
    border-radius: 10px;
    width: 100%;
}
.fa-arrow-right{
    transform: rotate(0deg);
}
.mail p, .mail a{
    font-size: 22px;
    color: #000;
    text-align: center;
}
.big-section{
        padding-top: 120px;
        padding-bottom: 120px;
    
  background-color: #1e1d1d;
}
.big-section p{
    color: #fff;
    margin-bottom: 0;
}
.fs-30{
    font-size: 1.875rem;
    line-height: 2.8rem;
}
.fs-18{
    font-size: 24px;
}
.cpas{
    line-height: 44px;
}
.becomeMember img{
    max-width: 200px;
}
.becomeMember h6{
    font-size: 15px;
}
#members{
    background-color: var(--light-green);
    margin-bottom:40px;
}
#becomeMembers{
    background-color: var(--light-green);
    margin-bottom: 40px;
 
}
.cta-btn2{
    background-color: var(--dark-green);
    color: white !important;
    padding: 10px 5px;
    border-radius: 5px;
    margin-top: 5px;
}


/* slider */
/* @media (min-width:1024px) {
    .autoNews img{
        max-width: 300px !important;
    }
    
} */
.slider-three-slide-prev1, .slider-three-slide-next1{
    outline: none;
    cursor: pointer;
    height: 45px;
    width: 45px;
    margin-top: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 30px;
    color: #fff !important;
    background-color: #000 !important;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
   
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width:576px) {
    .autoNews .swiper{
        max-width: 400px;
    }
  }
  .bg-autonews{
    background-color: var(--light-green);
  }