.card-custom {
    background-color: #e6f5e6;
    border: none;
    text-align: center;
    padding: 50px;
    gap: 30px;

}
.card-custom h3 {
    color: #34a853;
    font-size: 2rem;
    font-weight: bold;
}
.download-btn {
    background-color: #34a853;
    color: white;
    font-weight: bold;
}
.icon-wrapper {
    position: relative;
}
.corner-banner {
    position: absolute;
    top: -42px;
    right: -33px;
    background-color: #34a853;
    color: white;
    font-size: 26px;
    padding: 5px 25px;
    border-radius: 0px 0px 0px 50px;
    transform: translate(15%, -15%);
}