/* International */

.tabs {
    display: flex;
    border-bottom: 2px solid #007bff;
    margin-bottom: 20px;
}

.event-tab-button {
    background-color: #f4f4f4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    transition: background-color 0.3s ease;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.event-tab-button.active,
.event-tab-button:hover {
    background-color: #07395C;
    color: white;
}

.event-tab-content {
    display: none;
}

.event-tab-content.active {
    display: grid;
}

.event-card {
    border-radius: 16px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.07);
    padding: 10px;
    background-color: #fff;
    color: #697e91;
    max-width: 350px;
}

.event-card .event-card-inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #ecf0ff;
    border-radius: 12px;
    position: relative;
}

.event-card .event-date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary-green);
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
}

.event-card .event-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
}

.event-card .event-title+* {
    margin-top: 0.75rem;
    color: #545454;
}

.event-card .event-info+* {
    margin-top: 1rem;
}

.parent {
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    .event-card {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .tabs {
        flex-direction: column;
    }

    .event-tab-button {
        margin-right: 0;
        margin-bottom: 5px;
    }
}